.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  background: #008491;
  color:white;
  border-bottom: 4px solid white;
  
}

.navbarControlers{
  display: flex;
  align-items: center;
  gap: 10px;
}