.navbar {
  height: 75px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 5%, rgba(0, 168, 150, 1) 100%); */
  background: #008491;
  color: #555;
  border-bottom: 4px solid white;
}
